@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap);

:root {
    --scale: 0.85;
    --borderRadiusScale: 1;
    --transitionFactor: 1;
    --base-screen-height: 1080;
    --px-to-vh: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Kanit', sans-serif;
}

html,
body {
    width: calc(auto * var(--px-to-vh));
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

.myport {
    display: flex;
    color: #fff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    font-weight: 400;
    font-size: 25px;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.55);
    background-color: rgba(110, 110, 110, 0.25);
    padding: 12px;
}

.logo a {
    display: flex;
    text-decoration: none;
    margin-right: 3rem;
    transition: all .5s ease;
    animation: logoAnim 0.8s ease infinite;
}

@keyframes logoAnim {

    0%,
    100% {
        top: -1vh;
    }

    50% {
        top: -3.5vh;
    }
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu li {
    margin-right: 2.5rem;
    margin-top: 1rem;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    font-size: 18px;
}

.menu li a:hover {
    color: rgb(255, 171, 45);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    display: flex;
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    background-color: inherit;
    font-family: inherit;
    margin-right: 2.5rem;
    margin-top: 1rem;
}

.dropdown:hover .dropbtn {
    color: rgb(255, 171, 45);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(255, 171, 45, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.myskillportfolio {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 171, 45, 0.75);
    display: inline-block;
    color: #ffffff;
    border-radius: 12px;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px 20px;
    padding: 10px 30px;
    background-color: rgba(110, 110, 110, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
}

.skills .left .info h3 {
    color: #fff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p {
    color: #e4e3e3;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    font-size: 14px;
}

.skills .left button {
    margin-top: 30px;
}

.skills .right {
    width: calc(220px * var(--px-to-vh));
    height: calc(60px * var(--px-to-vh));
    /* width: 420px; */
    /* height: 120px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: calc(70px * var(--px-to-vh));
    height: calc(70px * var(--px-to-vh));
    border-radius: calc(20 * var(--borderRadiusScale) * var(--px-to-vh));
    /* width: 50px;
    height: 50px;
    border-radius: 10px; */
}

.skills .right .item i {
    font-size: 34px;
    color: #fff;
}

.seemore {
    margin: 50px -5px 30px;
    padding: 10px 20px;
    background: rgba(255, 171, 45, 0.75);
    display: inline-block;
    color: #ffffff;
    border-radius: 12px;
    text-decoration: none;
    list-style: none;
}

.seemore:hover {
    background: rgb(255, 171, 45);
}

.featured {
    color: #ffffff;
    margin: 0px 50px 20px;
    padding: calc(100 * var(--px-to-vh));
    border-radius: 12px;
    background-color: rgba(110, 110, 110, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: calc(auto * var(--px-to-vh));
    height: calc(auto * var(--px-to-vh));
}

.featured .item,
.works-list .item {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
    padding: calc(100 * var(--px-to-vh));
    border-bottom: 2px solid #e0e0e0;
}

.featured .item img,
.works-list .item img {
    width: calc(600 * var(--px-to-vh));
    height: calc(500 * var(--px-to-vh));
    /* width: 300px;
    height: 250px; */
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.55);
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.featured .item .details h3,
.works-list .item h3 {
    font-size: 30px;
    margin-bottom: 16px;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.featured .item .details .item-info,
.works-list .item .details .item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.featured .item .details .item-info .year-badge,
.works-list .item .details .item-info .year-badge,
.content .work-info .year-badge {
    background: rgba(255, 171, 45, 0.75);
    padding: 2px 14px;
    color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

.featured .item .details .item-info h4,
.works-list .item .details .item-info h4 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    font-size: 18px;
}

.featured .item .details p,
.works-list .item .details p {
    /* width: 700px; */
    text-align: justify;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.tooltip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    padding: 11px 12px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211);
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.svgIcon {
    width: 50px;
    height: auto;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.9em 1.9em;
    opacity: 0;
    /* pointer-events: none; */
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(34, 34, 34);
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.5em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: rgb(255, 255, 255);
}

.tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


footer {
    padding: calc(50 * var(--px-to-vh));
    /* padding: 40px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

footer .socials {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    list-style: none;
    text-decoration: none;
}

footer .socials i {
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .socials i:hover {
    color: #303f9f;
}

footer p {
    font-size: 14px;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 171, 45, 0.75);
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    border-color: #fff;
    background: rgb(255, 171, 45);
    box-shadow: none;
}

@media screen and (max-width: 1400px) {

    nav {
        padding: 20px 60px;
    }

    .main {
        padding: 0 60px;
    }

    .recent {
        padding: 60px;
    }

    .featured,
    .separator {
        padding: 40px 60px 0;
    }

    .page-title {
        padding: 80px 60px 20px;
    }

}

@media screen and (max-width: 1200px) {

    nav {
        padding: 20px 40px;
    }

    .main {
        padding: 0 40px;
    }

    .main img {
        width: 340px;
        height: 340px;
    }

    .recent {
        padding: 40px;
    }

    .featured,
    .separator {
        padding: 40px 40px 0;
    }

    .featured .item .details p,
    .works-list .item .details p {
        width: 100%;
    }

    .page-title {
        padding: 80px 40px 20px;
    }

    .content .work-info,
    .content>p,
    .content>img,
    .content>h1,
    .content>h2,
    .content>h3,
    .content .post-list .post-item,
    .content .container {
        width: 100%;
    }

    .content .container img {
        width: 250px;
        height: 250px;
    }

    .content .container h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content .container .about>p {
        font-size: 14px;
    }

}

@media screen and (max-width: 992px) {

    nav {
        padding: 20px;
    }

    .main {
        padding: 0 20px;
    }

    .main img {
        width: 300px;
        height: 300px;
    }

    .main .info h1 {
        font-size: 34px;
    }

    .main .info p {
        font-size: 15px;
    }

    .main .info button {
        font-size: 15px;
        padding: 8px 22px;
    }

    .recent {
        padding: 40px 20px;
    }

    .recent .posts .post-item {
        width: 100%;
    }

    .recent .posts .post-item h3,
    .content .post-list .post-item h3 {
        font-size: 20px;
    }

    .recent .posts .post-item .info h5,
    .content .post-list .post-item .info h5 {
        font-size: 14px;
    }

    .recent .posts .post-item p {
        width: 100%;
        font-size: 14px;
    }

    .featured,
    .separator {
        padding: 40px 20px 0;
    }

    .featured .item,
    .works-list .item {
        flex-direction: column;
        padding: 0 20px 30px;
    }

    .featured .item img,
    .works-list .item img {
        width: 100%;
        height: auto;
    }

    .featured .item .details h3,
    .works-list .details .item h3 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .featured .item .details .item-info .year-badge,
    .works-list .item .details .item-info .year-badge {
        font-size: 12px;
    }

    .featured .item .details .item-info h4,
    .works-list .item .details .item-info h4 {
        font-size: 15px;
    }

    .featured .item .details p,
    .works-list .item .details p {
        font-size: 14px;
    }

    .content {
        padding: 30px 20px 60px;
    }

    .content .container h2 {
        font-size: 20px;
    }

    .content .container .about>p {
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {

    nav {
        justify-content: center;
    }

    nav .logo {
        display: none;
    }

    .main {
        flex-direction: column;
        justify-content: space-around;
        margin: 40px 0;
        height: auto;
    }

    .main .info h1 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .main .info p {
        margin-bottom: 16px;
    }

    .main .info button {
        padding: 6px 20px;
        font-size: 13px;
    }

    .main img {
        margin-top: 20px;
        width: 100%;
        height: auto;
        border-radius: 50px;
    }

    .recent .posts,
    .content .container {
        flex-direction: column;
    }

    .content .container img {
        width: 100%;
        height: auto;
    }

}
