@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

h1 { font-size: 72px; line-height: 108px; font-weight: 700; }
h2 { font-size: 60px; line-height: 90px; font-weight: 700;  }
h3 { font-size: 48px; line-height: 72px; font-weight: 700;  }
h4 { font-size: 36px; line-height: 54px; font-weight: 700;  }
h5 { font-size: 30px; line-height: 45px; font-weight: 700;  }

@media(max-width: 767px) {
  h1 { font-size: 40px; line-height: 60px; font-weight: 700; }
  h2 { font-size: 36px; line-height: 54px; font-weight: 700; }
  h3 { font-size: 30px; line-height: 45px; font-weight: 700; }
  h4 { font-size: 28px; line-height: 42px; font-weight: 700; }
  h5 { font-size: 24px; line-height: 36px; font-weight: 700; }
}

.primary-blue25 {
  color: #F0F3F9;
}
.primary-blue300 {
  color: #537EBA;
}
.primary-blue500 {
  color: #18498E;
}

.primary-blue900 {
  color: #000D28;
}